<div class="center">
			<div id="coverpic">
				<img src="https://s3.amazonaws.com/boraweb/hangoutcover2.png" class="img-responsive" alt="hangout" width="100%">
				<div id="text-container">
   				<h3 id="oneliner">
       			Organize eventos com os amigos<br> de forma simples com o Bora.
       		</h3>
   			</div>
       	<div class="container" id="button_container">
				</div>
    	</div>
</div>

<footer>
  <br>

  <div id="copyright">
    <p>&copy; 2014 Vinícius Azevedo.</p>
  <div>

</footer>
